body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background: url(images/volt-2.png);
    background-repeat: no-repeat;
}
ul, li, ol {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	padding: 0px;
}
a:focus, a:hover {
	text-decoration: none;
	outline: 0px;
}
footer {
	background: url(https://image.ibb.co/kr5tmV/stage.png) no-repeat center center;
	position: fixed;
	bottom: -50px;
	left: 0;
	width: 100%;
	min-height: 350px;
}
.speakerL {
	position: absolute;
	left: 10%;
	bottom: 250px;
	z-index: 5;
}
.lightL {
	position: absolute;
	left: 20%;
	top: -195px;
	z-index: 999;
}
.lightR {
	position: absolute;
	right: 20%;
	top: -195px;
	z-index: 999;
}
.speakerR {
	position: absolute;
	right: 10%;
	bottom: 250px;
	z-index: 5;
}

.psy {
	background: url(https://image.ibb.co/kRoDmV/psy.png) no-repeat;
	width: 225px;
	height: 400px;
	position: fixed;
	left: 50%;
	margin-left: -91px;
	bottom: 160px;
	z-index: 99;
}
.guitar-player {
	position: fixed;
	left: 25%;
	bottom: 220px;
	z-index: 9;
	width: 155px;
	display: none;
}
.drummer-player {
	position: fixed;
	right: 25%;
	bottom: 230px;
	z-index: 9;
	width: 255px;
	display: none;
}
.drummer-player2 {
	position: fixed;
	left: 28%;
	bottom: 230px;
	z-index: 9;
	width: 255px;
	display: none;
}
.guitar-player img, .drummer-player img, .drummer-player2 img {
	width: 100%;
}